body {
    background-image: url("https://vignette1.wikia.nocookie.net/pirates/images/2/2e/Jack_Sparrow_Hanging_COTBP.jpg/revision/latest?cb=20100921224600");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   font-family: 'Satisfy', cursive;

}
#main {
    text-align: center;
    margin: auto;
    color: white;
}
#game {
    width: 100%;
    height: 100%;
    
}

#game-board {
    font-size: 30px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: auto;
}

#click-begin {
    font-size: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    color: rgb(248, 250, 165);
}

#wins, #losses, #missed, #countdown {
 
    text-align: center;
    border: 3px solid rgb(131, 92, 92);

}

p {
    font-size: 40px;
    color: white;
}

#countdown {
    font-size: 30px;
    color: white;
}


 #video {
     margin-left: 30%;
     margin-right: 30%;
 }
